config USE_CC2530_HAL
    bool "Use the CC2530 HAL for the CC2530 platform"
    default y
    help
      Use the CC2530_HAL lib for the TI CC2530.
    

config UART_ENABLE
    bool "Enable UART"
    default n
    help
      Enable UART for the CC2530.